In [1]:
pip install Pandas

Requirement already satisfied: Pandas in c:\users\user\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from Pandas) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\users\user\anaconda3\lib\site-packages (from Pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\user\anaconda3\lib\site-packages (from Pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->Pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
#缺失值填入字串'others'
x = q_df.fillna('others')
x

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [4]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?  用one_hot_encoding的方式因為職業沒有順序性   (雙[]來使其保留pd性質)
dummies = pd.get_dummies(x[['Profession']])
y = pd.concat([x,dummies],axis =1)
y

,Sex,Profession,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,0,0,1
1,male,engineer,1,0,0
2,female,others,0,1,0
3,female,engineer,1,0,0