In [2]:
pip install Pandas

Requirement already satisfied: Pandas in c:\users\user\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\user\anaconda3\lib\site-packages (from Pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from Pandas) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\users\user\anaconda3\lib\site-packages (from Pandas) (2019.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->Pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
#找出全年級各科成績最高分與最低分？
score_df = score_df.set_index('student_id')
score_df[['math_score','english_score','chinese_score']].agg(['max','min'])

     math_score  english_score  chinese_score
max          98             90             89
min          20             40             23

In [7]:
#找出數學班平均最高的班級？  2班數學平均最高
x = score_df.groupby('class').mean()
print(x)
x[x['math_score']==x['math_score'].max()]['math_score']

       math_score  english_score  chinese_score
class
1       54.800000      65.800000      64.400000
2       61.250000      64.750000      67.500000
3       58.666667      61.166667      50.666667

class
2    61.25
Name: math_score, dtype: float64

In [6]:
#分析全校女生與男生國文平均差幾分？
y = score_df.groupby(['sex']).mean()
z = y['chinese_score'][1]-y['chinese_score'][0]
print('女生與男生國文平均相差',round(z,5),'分')

女生與男生國文平均相差 7.33333 分